:root {
    --primary: #ffcece;
    --primary-dark: #ffc1c8;
    --accent: #ffe3b0;
    --contrast: #8ed6ff;  
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
.container {
    text-align: center;
    background-color: var(--primary); 
    margin: 15px;
    padding: 10px 20px;
    border-radius: 20px;
}